{% extends "store/base.html" %}
{% block content %}
<h3>Search:</h3>
        <form action="{%  url  'store:buscador'  %}" method="post" >
            {% csrf_token %}
            <input type="text" name="buscar">
        <input type="submit" value="Search" />
        </form>

<h1>
    Games
</h1>
<ul>
    {% for game in gameslist %}
        <li><a href="{% url 'store:gamedetail' game.id %}">
            {{ game.name }}</a></li>
    {% empty %}<li>Sorry, no games registered yet.</li>
    {% endfor %}
</ul>
{% endblock %}